<!doctype html>
<html lang="en">

<head>
  <title>Saucy Sudz</title>
  <meta charset="utf-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes"> -->
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

  <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">

  <link rel="stylesheet" href="css/jquery.fancybox.min.css">

  <link rel="stylesheet" href="css/bootstrap-datepicker.css">

  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

  <link rel="stylesheet" href="css/aos.css">

  <link rel="stylesheet" href="css/style.css">

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">



  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

      <div class="container-fluid">
        <div class="row align-items-center justify-content-center">

          <div class="">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="#about-section" class="nav-link">About</a></li>
                <li><a href="#services-section" class="nav-link">Services</a></li>
              </ul>
            </nav>
          </div>

          <div class=" text-center mx-5">
            <h1 class="m-0 site-logo"><a href="#home-section">Saucy Sudz <br> Detailing</a></h1>
          </div>

          <div class="text-left">

            <nav class="site-navigation position-relative" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="#portfolio-section" class="nav-link">Gallery</a></li>
                <li><a href="#contact-section" class="nav-link">Contact</a></li>
              </ul>
            </nav>


            <div class="d-inline-block d-lg-none" style="position: relative; top: 3px;"><a href="#"
                class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>

          </div>

        </div>
      </div>

    </header>


    <div class="" id="home-section">
      <img src="images/pic6.jpg" alt="Image" class="img-face">
    </div>


    <div class="site-section" id="about-section">
      <div class="container">
        <div class="row ">
          <div class="col-12 mb-4 position-relative">
            <h2 class="section-title">About</h2>
          </div>
          <div class="col-lg-6 order-2 order-lg-1">
            <img class="img-fluid mb-4" src="images/pic0.jpg" alt="Image">
          </div>
          <div class="col-lg-6 order-3 pl-lg-5 order-lg-2">
            <p>Providing quality detailing for all types of vehicles through out Monterey County. My extreme love for
              cars and attention to detail is reflected in the
              impeccable finish of each and every car serviced.</p>
          </div>
        </div>
      </div>
    </div>




    <section class="site-section block__62272" id="portfolio-section">


      <div class="container">
        <div class="row mb-5">
          <div class="col-12 position-relative">
            <h2 class="section-title text-center mb-5">Gallery</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-4 item">
            <a href="images/pic1.jpg" class="item-wrap fancybox mb-4">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="images/pic1.jpg">
            </a>
            <a href="images/pic4.jpg" class="item-wrap fancybox mb-4">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="images/pic4.jpg">
            </a>
            <a href="images/pic7.jpg" class="item-wrap fancybox mb-4">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="images/pic7.jpg">
            </a>
            <!-- <a href="images/pic8.jpg" class="item-wrap fancybox mb-4">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="images/pic8.jpg">
            </a> -->
          </div>
          <div class="col-md-6 col-lg-4 item">
            <a href="images/pic2.jpg" class="item-wrap fancybox mb-4">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="images/pic2.jpg">
            </a>
            <a href="images/pic15.jpg" class="item-wrap fancybox mb-4">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="images/pic15.jpg">
            </a>
            <!-- <a href="images/pic10.jpg" class="item-wrap fancybox mb-4">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="images/pic10.jpg">
            </a> -->
          </div>
          <div class="col-md-6 col-lg-4 item">
            <a href="images/pic3.jpg" class="item-wrap fancybox mb-4">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="images/pic3.jpg">
            </a>
            <a href="images/pic16.jpg" class="item-wrap fancybox mb-4">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="images/pic16.jpg">
            </a>
            <!-- <a href="images/pic14.jpg" class="item-wrap fancybox mb-4">
              <span class="icon-search2"></span>
              <img class="img-fluid" src="images/pic14.jpg">
            </a> -->
          </div>
        </div>
      </div>

    </section>


    <section class="site-section block__62272" id="services-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 position-relative">
            <h1 class="section-title text-center">Full Service</h1>
            <h3 class="text-center">$100 car, $115 mid-size suv, $130 full-size suv, van or truck</h3>
            <h6 class="text-center">Note: Any excessive dirty vehicle will be charged at a rate of $20/hour. Customers
              will be informed before detail.</h6>
          </div>
          <div class="col-sm service-section-list">
            <h2 class="section-title text-center">Exterior Detail</h2>
            <ul>
              <li>Pressure wash to remove any loose dirt and debris</li>
              <li>Foam bath pre-soak</li>
              <li>Detailed hand wash using the 2 bucket method</li>
              <li>Clean wheels, tires, and fender walls</li>
              <li>Hand dry exterior using premium microfiber towels</li>
              <li>Apply tire dressing</li>
              <li>Exterior plastics UV protected</li>
            </ul>
          </div>
          <div class="col-sm service-section-list">
            <h2 class="section-title text-center">Interior Detail</h2>
            <ul>
              <li>Wipe down of all hard Interior Surfaces</li>
              <li>All door Jambs wiped down and cleaned</li>
              <li>Vacuum carpet, seats, and compartments</li>
              <li>All plastics/vinyl Interior components are UV protected</li>
              <li>Clean all glass inside out to a streak free finish</li>
            </ul>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-12">
            <h1 class="section-title text-center">Exterior Detail</h1>
            <h3 class="text-center">$60 car, $70 mid-size suv, $80 full size suv, van or truck</h3>
            <ul class="unordered-list">
              <li>Includes all <strong>Exterior</strong> services from our <strong>Full Detail</strong> package.</li>
            </ul>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-12">
            <h1 class="section-title text-center">Interior Detail-Stage1</h1>
            <h3 class="text-center">$60 car, $70 mid-size suv, $80 full size suv, van or truck</h3>
            <ul class="unordered-list">
              <li>Includes all <strong>Interior</strong> services from our <strong>Full Detail</strong> package.</li>
            </ul>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-12">
            <h1 class="section-title text-center">Interior Detail-Stage2</h1>
            <h3 class="text-center">$110 car, $135 mid-size suv, $150 full-size suv, van or truck</h3>
            <ul class="unordered-list">
              <li>Including all services from our Interior Stage 1 package adds Steam cleaning of all plastic/vinyl
                components (dashboard, consoles,
                and vents) and full shampoo service to all carpeted areas including seats, floors, and floor mats and
                deep leather cleaning
                and conditioning.</li>
            </ul>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-12">
            <h1 class="section-title text-center">Leather Treatment</h1>
            <h3 class="text-center">$40 car, mid-size suv, or truck (5 seats), $60 full-size suv or van (7+ seats)</h3>
            <ul class="unordered-list">
              <li>All leather is thoroughly cleaned in order to remove any trapped dirt or oils. The leather is then
                conditioned in order to
                restore flexibility in the leather, which will prevent it from drying out/cracking and keep it feeling
                soft.</li>
            </ul>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-12">
            <h1 class="section-title text-center">Shampoo Service</h1>
            <h3 class="text-center">$100 car, mid-size suv or truck, $150 full-size suv or van</h3>
            <ul class="unordered-list">
              <li>All carpeted areas (including floor mats) and cloth seats are shampooed to leave them refreshed and
                clean.</li>
            </ul>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-12">
            <h1 class="section-title text-center">Headlight Restoration</h1>
            <h3 class="text-center">$ 60 for any vehicle</h3>
            <ul class="unordered-list">
              <li>Headlights will be restored using a 3 step restoration method ensuring a clear finish leaving your
                headlights looking brand new.</li>
            </ul>
          </div>
        </div>
      </div>
    </section>




    <footer class="site-section bg-light footer">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <div id="contact-section">
              <div class="footerIcons">
                <h2>Follow me</h2>
                <h6>Phone: (831) 540-5303</h6>
                <h6>Salinas, California</h6>
                <a href="#" class="social-circle p-2"><span class="icon-facebook"></span></a>
                <a href="https://www.instagram.com/saucy_sudz/" class="social-circle p-2"><span
                    class="icon-instagram"></span></a>
              </div>

            </div>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <p>Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script> All rights reserved | This template is made with <i class="icon-heart-o"
                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            </p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

          </div>
        </div>
      </div>
    </footer>

  </div> <!-- .site-wrap -->

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/jquery.sticky.js"></script>

  <script src="js/main.js"></script>


</body>

</html>
